<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Automated Investing marketplace Platform">
    <meta name="keywords" content="IDX, Peer, P2P, Marketplace, machine learning, fintech, Peer2Peer, Lending">
    <meta name="author" content="IDX Master">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- SITE TITLE -->
    <title>Market Sync - Login</title>
</head>
<body>
    <%- body %>
</body>
</html>
