/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f5f7fa;
}
.wrapper > .aside {
  background-color: #3a3f51;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
  background-image: -o-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
  background-image: linear-gradient(to right, #2b957a 0%, #37bc9b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b957a', endColorstr='#ff37bc9b', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #2b957a;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #144639;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #ffffff;
}
.topnavbar .nav-wrapper {
  background-color: #2b957a;
  background-image: -webkit-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
  background-image: -o-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
  background-image: linear-gradient(to right, #2b957a 0%, #37bc9b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b957a', endColorstr='#ff37bc9b', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #2b957a;
    background-image: -webkit-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
    background-image: -o-linear-gradient(left, #2b957a 0%, #37bc9b 100%);
    background-image: linear-gradient(to right, #2b957a 0%, #37bc9b 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b957a', endColorstr='#ff37bc9b', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #ffffff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #144639;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #3a3f51;
}
.sidebar .nav-heading {
  color: #919da8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #e1e2e3;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #2b957a;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #383d4e;
  color: #2b957a;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #2b957a;
}
.sidebar-subnav {
  background-color: #3a3f51;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #e1e2e3;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #e1e2e3;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #2b957a;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #2b957a;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #2b957a;
  background-color: #2b957a;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
  color: #515253;
}
.form-custom .custom-input input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #F0F0F0;
}
.form-custom .custom-input div {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
}
.form-custom .custom_filters {
  padding-top: 10px !important;
}
.form-custom .btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px 0;
  font-size: 8px;
  line-height: 1.428571429;
  border-radius: 10px;
}
.form-custom .slider.slider-horizontal .slider-handle {
  margin-left: -10px !important;
  margin-top: -4.5px !important;
}
.form-custom .slider.slider-horizontal .slider-track {
  height: 1px !important;
  left: 0 !important;
  margin-top: 0 !important;
  top: 50% !important;
  width: 100% !important;
}
.form-custom .slider-handle {
  width: 10px !important;
  height: 10px !important;
  background-color: #42C2A2 !important;
  border: none;
}
.form-custom .slim-slider .slider-track {
  background-color: #e5e5e5 !important;
  border: none !important;
}
.form-custom .slim-slider .slider-selection {
  background-color: #42C2A2 !important;
}
.form-custom .slider.slider-horizontal {
  width: 100% !important;
}
.kshf .panel {
  background-color: transparent !important;
  border: none !important;
  border-radius: none;
  box-shadow: none;
  margin-bottom: none;
}
.error-messages {
  border: 1px solid #A7423C;
  margin-bottom: 5px;
  background-color: #F6CECE;
  color: #9A3633 !importent;
}
.error-messages ul {
  padding-left: 5px !important;
}
.error-messages h5,
.error-messages .h5 {
  padding-left: 5px !important;
  color: #9A3633 !important;
  font-weight: bold !important;
}
.error-messages ul li {
  list-style: none;
  color: #9A3633;
}
.canvasjs-chart-credit {
  display: none !important;
}
.div_disabled {
  z-index: 1000;
  background-color: lightgrey;
  opacity: 0.6;
  pointer-events: none;
}
.pointer-cursor {
  cursor: pointer;
}
.noPadding {
  padding: 0 !important;
}
td div {
  padding: 10px;
  margin: 0;
}
#summaryIframe {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.slider.slider-horizontal {
  width: 100% !important;
}
.vertical-video {
  float: right;
  margin-top: 84px;
}
.rightBoxes .credits {
  display: none!important;
}
.icon-question:hover {
  color: #333333;
  text-decoration: none;
}
