<div ng-show="view == 'forgot-password'">
  <p class="text-center pv">Recover password.</p>
 <form role="form" ng-submit="recover(username)" validate-form="" novalidate="" class="mb-lg">
    <div class="form-group has-feedback">
       <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" ng-model="username" required="required" class="form-control" data-parsley-required-message="Please enter valid email address." />
       <span class="fa fa-envelope form-control-feedback text-muted"></span>
    </div>
    <div class="clearfix">
       <div class="pull-right"><a href="#" ng-click="loadInstance('login')" class="text-muted">Login</a>
       </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary mt-lg">Recover</button>
 </form>
 <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
</div>